<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="430ca08c-a209-4115-8b7d-1b1dc755ce98"
            Publisher="CN=trevor"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>TerritoryServant</DisplayName>
    <PublisherDisplayName>trevor</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="TerritoryServant.App">
        <VisualElements
            DisplayName="TerritoryServant"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="TerritoryServant"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>